.game-panel-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.stats-panels-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    
    border: 2px solid white;
    background: rgba(10, 10, 15, 0.6);
    transition: all 0.4s ease-in-out;
}

.stars-wrapper {
    display: flex;
}

.left-stars {
    justify-content: flex-end;
}

.right-stars {
    justify-content: flex-start;
}