.game-panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.stats-panels-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(max-content, 1fr));
    gap: 40px;
    width: max-content;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

.player-panel-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.player-panel-wrapper.p1-wrapper {
    justify-self: end;
}

.player-panel-wrapper.p2-wrapper {
    justify-self: start;
}