:root {
    /* Core Elements */
    --nature-color: #32cd32;
    --frost-color: #00ffff;
    --scorch-color: #ff4500;

    /* Combination Elements */
    --ocean-color: #00a8ff;
    --wither-color: #8e9483;
    --ash-color: #b87333;
    --albedo-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    color-scheme: dark;
}

.app-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100vh;
    box-sizing: border-box;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9990;
}