.elemental-wheel-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    padding: 5px;
    gap: 10px;
}

.individual-element-container {
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;

    font-weight: bolder;

    min-width: 70px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.individual-element-container.nature-active {
    color: var(--nature-color);
    border-color: var(--nature-color);
}

.individual-element-container.frost-active {
    color: var(--frost-color);
    border-color: var(--frost-color);
}

.individual-element-container.scorch-active {
    color: var(--scorch-color);
    border-color: var(--scorch-color);
}